@font-face {
  font-family: "ClimateCrisis-Regular";
  src: local("ClimateCrisis-Regular"),
    url("../features/common/fonts/ClimateCrisis-Regular.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #212121;
}

.title > h1 {
  font-family: "ClimateCrisis-Regular";
  color: #303030;
  background-color: #212121;
  font-size: 12vw;
}

.arena {
  margin: 10px;
  height: 400px;
  background-color: #212121;
  border-radius: 5px;
}

.profile {
  margin: 0px 10px 10px 10px;
  height: 100px;
  background-color: #212121;
  border-radius: 5px;
}
