$backgroundColor: #212121;

.arena__container {
  margin: 10px;
  height: 360px;
  background-color: $backgroundColor;
  border-radius: 10px;
  padding: 20px;
  color: gray;
  display: flex;
  align-items: center;
}

.arena__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
