@font-face {
  font-family: "Barlow-Light";
  src: local("Barlow-Light"),
    url("../styling/fonts/Barlow-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Barlow-Medium";
  src: local("Barlow-Medium"),
    url("../styling/fonts/Barlow-Medium.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow-Light";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow-Medium";
}

img {
  display: block;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: grey;
}

.common-accept-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(187, 255, 0);
}

.common-deny-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: red;
}
