.footer__container {
  flex-grow: 1;
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.footer__selected-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  color: #212121;
}
