.footer__container {
  flex-grow: 1;
  min-height: 80px;
  max-height: 80px;
  width: 100vw;
  background-color: #212121;
  display: flex;
}

.footer__button {
  height: 80px;
  width: calc(100vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__inverted-button {
  height: 80px;
  width: calc(100vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: #303030;
}
