.inventory__container {
  flex-grow: 5;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #212121;
}

.inventory__item {
  width: calc(100% / 3);
  height: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
