.people__container {
  margin: 120px 10px 90px 10px;
  width: calc(100% + 140px); //GAMBIARRA
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}

.people__entry {
  width: calc(100% - 20px); //GAMBIARRA?
  padding: 10px;
  border-bottom: 1px #303030 solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.people__entry-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.people__entry-info-picture {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.people__entry-info-credentials {
  display: flex;
  flex-direction: column;
}

.people__entry-actionarea {
  display: flex;
  justify-content: space-evenly;
}
