.profile__container {
  flex-grow: 1;
  min-height: 80px;
  max-height: 80px;
  width: calc(100% - 40px);
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #212121;
  display: flex;
  align-items: center;
}

.profile__picture {
  width: 70px;
  height: 70px;
  border: 4px #303030 solid;
  border-radius: 40px;
}

.profile__credentials {
  padding: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
}