.profile__container {
  margin: 10px;
  min-height: 80px;
  background-color: #212121;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile__picture {
  width: 70px;
  height: 70px;
  border: 4px #303030 solid;
  border-radius: 40px;
}

.profile__credentials {
  padding: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
}
