@font-face {
  font-family: "ClimateCrisis-Regular";
  src: local("ClimateCrisis-Regular"),
    url("../styling/fonts/ClimateCrisis-Regular.ttf") format("opentype");
}

$backgroundColor: #212121;

.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $backgroundColor;
}

.title__container > h1 {
  font-family: "ClimateCrisis-Regular";
  color: #303030;
  background-color: $backgroundColor;
  font-size: 12vw;
}
